@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServerUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />


    <link href="css/app.css" rel="stylesheet" />
    <link href="css/clouds.css" rel="stylesheet" />

    <!-- totally leagal fontawesome refferences, dont worry about it -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">

    <script src="/js/app.js" defer></script>
    <script src="/js/clouds.js" defer></script>
    <script src="/js/debugFunctions.js" defer></script>

    <title>Wat wordt het weer?</title>


    <link href="BlazorServerUI.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/image.jfif"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="default-background">
    <div id="background-weather"></div>

    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
