@page "/" @using BlazorServerUI.Data.GetWeatherHelperServiceModels; @using BlazorServerUI.Services; @using System.ComponentModel.DataAnnotations;
@inject HttpClient http; @inject IJSRuntime js; @inject GetWeatherHelper weatherHelper  @if (error is not null) {     <div role="alert">         @error     </div> }  <h1>Wat is mijn weer?</h1>  <input min="0" max="23" type="range" />  <EditForm Model="location" OnValidSubmit="FetchWeather" >
    <div class="input-container">
        <div>
            <input placeholder="Accept the location request to fill-in automatically" @bind="location.Location" type="text" autocomplete="address-level2">             <button type="submit" title="Get weather from location"><i class="fa-solid fa-magnifying-glass"></i></button>         </div>
        <div>
            @if (resultFromApi is not null)
            {
                <DaytimeSlider SunriseStart="resultFromApi.SunriseStart"
                                SunriseDuration="resultFromApi.SunriseDuration"
                                SunsetStart="resultFromApi.SunsetStart"
                                SunsetDuration="resultFromApi.SunsetDuration"
                                CurrentHour="resultFromApi.LocalTime.Hour"
                                OnChange="SetSelectedWeather" />
            }
        </div>
    </div> </EditForm>  <div class="weatherStatus">
    <h3>[ @displayedWeatherState?.Status ]</h3>
    <div>
        <p>@displayedWeatherState?.AverageTempInCelcius <span class="celcius">°C</span></p>
        <p>@displayedWeatherState?.PrecipitationInMM <span class="rain">mm</span></p>
    </div>
</div>
 @code {

    class InputLocation
    {
        [Required(ErrorMessage = "Je moet dit wel invullen hè!")]
        public string Location { get; set; } = "";
    }

    InputLocation location = new();

    string? error;


    WeatherState? displayedWeatherState;
    WeatherResult? resultFromApi;

    int currentHour;

    bool weatherShouldRender = true;








    // als op knopje drukt dan gaat overgang goed als via enter dan gaat die naar dag, wtfffff













    async Task SetSelectedWeather(int hour)
    {
        if (resultFromApi is null)
        {
            return;
        }

        currentHour = hour;


        WeatherState selectedWeatherState = resultFromApi.HourlyWeather[hour];

        bool reRenderBackgroundWeather = true;// weatherShouldRender || displayedWeatherState is null || selectedWeatherState.Status != displayedWeatherState.Status;

        displayedWeatherState = selectedWeatherState;

        if (reRenderBackgroundWeather)
        {
            await SetBackgroundWeather();
            weatherShouldRender = false;
        }

        StateHasChanged();
    }

    /// <summary>
    /// Fetch weather result from service and d
    /// </summary>
    /// <returns></returns>
    async Task FetchWeather()     {
        weatherShouldRender = true;

        if (location.Location == "") {
            await GetLocationFromBrowser();
            return;
        }          try         {
            resultFromApi = await weatherHelper.GetWeatherStatusForLocationAsync(location.Location);

            if (resultFromApi is null)
            {
                error = "Kan het weer niet ophalen voor deze locatie!";
                return;
            }

            currentHour = resultFromApi.LocalTime.Hour;

            location.Location = resultFromApi.Location;

            displayedWeatherState = resultFromApi.CurrentWeather;
            await SetBackgroundWeather();

            error = null;
        }         catch (Exception ex)         {             error = "Er is iets mis gegaan bij het ophalen van het weer!";              #if DEBUG         error += " => " + ex.Message;             #endif         }         // to do     }        //     // getting location from browser functions     //          public async Task SetBackgroundWeather()     {         if (displayedWeatherState is null) {
            return;         }          await js.InvokeVoidAsync("setBackgroundWeather", displayedWeatherState.WeatherGenerationOptions);     }      [JSInvokable]     public void GetLocationErrorCallback()     {         error = "Something went wrong while trying to automatically get your location!";          StateHasChanged();     }      [JSInvokable]     public async Task GetLocationCallback(object latitude, object longitude)     {         location.Location = $"{latitude}, {longitude}";         await FetchWeather();         StateHasChanged();     }      async Task GetLocationFromBrowser() {
        DateTimeOffset currentTime = DateTimeOffset.Now.ToOffset(TimeSpan.FromHours(2));

        await js.InvokeVoidAsync("getLocation", DotNetObjectReference.Create(this));
    }      protected override async Task OnAfterRenderAsync(bool firstRender)     {
        if (firstRender is false)
        {
            return;
        }

        await GetLocationFromBrowser();
    } }