<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <base href="/" />

    <link href="css/app.css" rel="stylesheet" />
    <link href="css/clouds.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">

    <script src="/js/app.js" defer></script>
    <script src="/js/clouds.js" defer></script>
    <script src="/js/debugFunctions.js" defer></script>

    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["WhatsMyWeatherWeb.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="default-background">
    <div id="background-weather"></div>
    
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
