
div.currentPosition {
    position: absolute;
    left: calc(var(--left) + 2px);
    height: 3rem;
    margin-top: -5px;
    border: dotted 2px #cb0000;
    border-top: none;
    border-bottom: none;
}


input[type="range"] {
    width: 100%;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 30px;
    --slider-thumb-color: #cb0000;
    --slider-thumb-outline-color: #cb000052;
    --slider-thumb-outline-width: 5px;
    --slider-thumb-outline-offset: 0;
    background: var(--slider-background);
    border: solid 2px black;
}




    /* Removes default focus */
    input[type="range"]:focus {
        outline: none;
    }

    /******** Chrome, Safari, Opera and Edge Chromium styles ********/

    /* slider track */
    input[type="range"]::-webkit-slider-runnable-track {
        border-radius: 0px;
    }

    /* slider thumb */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -7.5px; /* Centers thumb on the track */
        background-color: var(--slider-thumb-color);
        border-radius: 0rem;
        height: 3rem;
        margin-top: -20px;
        width: 3px;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
        outline: var(--slider-thumb-outline-width) solid var(--slider-thumb-outline-color);
        outline-offset: var(--slider-thumb-outline-offset);
    }

    /*********** Firefox styles ***********/

    /* slider track */
    input[type="range"]::-moz-range-track {
        border-radius: 0px;
        background: var(--slider-background);
    }

    /* slider thumb */
    input[type="range"]::-moz-range-thumb {
        background-color: var(--slider-thumb-color);
        border: none; /*Removes extra border that FF applies*/
        border-radius: 0rem;
        height: 3rem;
        width: 3px;
        margin-top: -20px;
    }

    input[type="range"]:focus::-moz-range-thumb {
        outline: var(--slider-thumb-outline-width) solid var(--slider-thumb-outline-color);
        outline-offset: var(--slider-thumb-outline-offset);
    }