#background-weather {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

    .default-background {
        background: var(--background-color);
    }

    .Sunrise {
        background: linear-gradient(0deg, rgba(0,5,29,1) 0%, rgba(118,195,255,1) 100%);
    }

    .Day {
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(80, 189, 255) 100%);
    }

    .DarkDay {
        background: linear-gradient(0deg, rgb(43, 43, 43) 0%, rgb(43, 78, 100) 100%);
    }

    .Sunset {
        background: linear-gradient(0deg, rgb(0, 5, 29) 0%, rgb(115, 65, 0) 100%);
    }

    .Night {
        background: linear-gradient(0deg, rgba(0,5,29,1) 0%, rgba(23,0,80,1) 100%);
    }




    #background-weather > .cloud {
        user-select: none;
        position: absolute;
        left: -300px;
        transition-property: left;
        transition-delay: 0s;
        transition-timing-function: linear;
        transition-duration: 10s; /* Will be overwritten by js */
    }


    #background-weather.Night > .cloud {
        filter: brightness(0.5);
    }


    #background-weather.DarkDay > .cloud {
        filter: brightness(0.8);
    }



    #background-weather > .precipitation {
        opacity: 0;
        width: 8px;
        aspect-ratio: 1/1;
        border-radius: 15px;
        background-color: red;
        z-index: -1;

        user-select: none;
        position: absolute;

        transition: top 3s linear, opacity .5s linear;
    }

        #background-weather > .precipitation.rain {
            background: #0051c2;
        }

        #background-weather > .precipitation.snow {
            background: white;
        }




    #background-weather > .overlay,
    #background-weather > .thunder {
        position: absolute;
        transition: opacity .7s linear;
    }

    #background-weather > .thunder {
        left: 50%;
        top: 50%;
        z-index: -1;
    }

    #background-weather > .overlay {
        inset: 0 0 0 0;
    }

        #background-weather > .overlay.flash {
            transition-duration: .5s;
            background: #ffffffb2;
        }

        #background-weather > .overlay.background-transition {
            transition-duration: 5s;
        }